#EnterFile{
	margin-top: 100%;

}
#Test{
	margin-bottom: 25px;
}


#Title{
	width: 100%;
}
#News{
	width: 80%;

}
#enter{
	margin-left: 77%;
	width: 100px;
	margin-top: -6%;
}
header{
          background-color: none;
          transition: background-color 0.3s linear;
        }
        
header:hover {
	      background-color:	#483D8B; 
}

header {
	top:0;
	
	background: #00B2EE;
	width: 100%;
}
#Sub_menu{
          background:none;
          transition: background-color 0.3s linear;
        }
        
#Sub_menu:hover {
	      background-color: #483D8B; 
	  }

#Menu{

	background:none;
	/*display: inline-block;*/
	color:red;


}

 nav ul ul{
	display: none;
	position: absolute;
	top: 100%;
}
nav ul{
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
nav ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
}
nav a {
	display:block;
	padding:0 10px;
	color: red;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
a:hover {
	background: #00B2EE;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
nav ul li:hover > ul {
    display:inherit;
    background: #F8F8FF;
}
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

#Logo{
	width: 108px;
	float: right;
}

h1{
	font-size: 1000; 
	font-weight:1000; 
}